.center {
  margin: 0 auto;
}

.font-size-14 {
  font-size: 14px;
}

.text-left {
  text-align: left;
}

.pr {
  position: relative;
}

.pd16 {
  padding: 16px;
}

.mb32 {
  margin-bottom: 32px !important;
}

.mr15 {
  margin-right: 15px;
}

.pr {
  position: relative;
}

.fl {
  float: left;
}

.mr8 {
  margin-right: 8px !important;
}

input[type=text], input[type=password], input[type=number], input[type=email] {
  color: rgba(10, 18, 32, .87);
  box-shadow: 0 -1px 0 0 rgba(81, 130, 228, .5) inset;
}

input[type=text], input[type=password], input[type=number], input[type=email] {
  background-color: transparent;
}

input[type=text], input[type=password], input[type=number], input[type=email] {
  border: 0;
}

.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.pa {
  position: absolute;
}

.source {
  height: auto!important;
  *, :before, :after {
    box-sizing: border-box;
  }
  .main {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .view-header {
    line-height: 64px;

    width: 100%;
    height: 64px;
  }
  .database-list-view {
    height: 100%;
  }
  .pr {
    position: relative;
  }
  .database-list-view .view-header-db {
    background-color: rgba(63, 93, 175, 1);
  }
  .view-header-db {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .2);
  }
  .view-header .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0 24px;
  }

  a {
    color: rgba(10, 18, 32, .64);
  }
  .view-header a {
    cursor: pointer;
  }
  .view-header-db .ico-back {
    background: url(svg/back_6b68247.svg) 0 0 no-repeat;
  }
  .theme-light .ico-back {
    background-position: -1100px -903px;
    width: 32px;
    height: 32px;
  }
  .bdp-icon {
    opacity: 1;
  }
  .view-header a > .bdp-icon {
    margin-top: 15px;
    margin-right: 5px;
    padding: 18px;
  }
  .view-header .back-btn {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    padding: 0 24px;
  }
  a {
    color: rgba(10, 18, 32, .64);
  }
  .view-header-seperate-line {
    background: rgba(81, 130, 228, .2);
  }
  .view-header-db .view-header-seperate-line {
    background: rgba(255, 255, 255, .4);
  }
  .view-header-seperate-line {
    position: absolute;
    top: 50%;
    left: 80px;
    width: 2px;
    height: 6px;
    margin-top: -3px;
  }

  .view-header h2 {
    color: rgba(10, 18, 32, .64);
  }
  .view-header h2 {
    color: rgba(10, 18, 32, .64);
  }
  .view-header h2 {
    font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, STHeitiSC-Light, WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, 'Microsoft Yahei', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin-left: 24px;
    color: rgba(255, 255, 255, .6);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .view-header-left-name {
    padding-left: 82px;
  }
  .text-left {
    text-align: left;
  }
  .view-header-db h2 {
    color: #fff;
  }

  .view-content {
    background: #E8EBED;
    .part-head {
      height: 260px;
      padding-top: 72px;
      background-image: url(../assets/img/bg-blue-wrap-data-grid.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-color: rgba(63, 93, 175, 1);

      .title {
        color: #fff;
      }
      .title {
        font-size: 34px;
        font-weight: 200;
        margin-bottom: 32px;
      }
      .big-font {
        font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, STHeitiSC-Light, WOL_SB, 'Segoe UI Semibold', 'Segoe UI', Tahoma, Helvetica, 'Microsoft Yahei', sans-serif;
      }
      .text-center {
        text-align: center !important;
      }

      .search-box {
        width: 380px;
        height: 40px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
        border-radius: 2px;
        background-color: #fff;
        .search-text {
          width: 328px;
          bottom: 11px;
          left: 16px;
          color: rgba(0, 0, 0, .87);
          font-size: 14px;
          box-shadow: none;
        }
        .el-icon-search {
          width: 24px;
          height: 24px;
          right: 12px;
          bottom: 1px;
        }
      }
    }
    //part-head

    .part-nav {
      background-color: rgba(240, 242, 243, 1);
      height: 64px;
      .nav-wrap {
        float: none;
        width: 960px;
        margin: auto;

        .nav-item.active, .nav-item.active:hover {
          border-bottom-color: #5182E4;
          background-color: #FFF;
        }
        .nav-item {
          border-bottom: 2px solid transparent;
        }
        .nav-item, .nav-item.active, .nav-item:hover {
          transition: all .2s ease-in-out;
        }
        .nav-item {
          float: left;
          height: 64px;
          cursor: pointer;
          font-weight: 700;

        }

        .nav-item:hover .nav-item-title, .nav-item.active .nav-item-title {
          color: #5182E4;
        }
        .nav-item-title {
          line-height: 32px;
          font-size: 14px;
          margin: 16px;
          color: rgba(10, 18, 32, .64);
        }
      }
    }
    //part-nav
    .part-list {
      .item-list {
        width: 985px;
        margin: auto;
        margin-top: 32px;
        li .block {
          background-color: #fff;
        }
        li .block {
          width: 180px;
        }
        li .block {
          background-color: #fff;
        }
        li .block {
          width: 180px;
        }
        li .block .block-pic-wrap {
          box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
        }
        li .block .block-pic-wrap {
          width: 148px;
          min-height: 127px;
          padding-bottom: 16px;
        }
        li .block .block-pic {
          display: block;
          width: 148px;
        }
        li .block .block-name {
          color: rgba(10, 18, 32, .87);
        }
        li .block .block-name {
          margin-top: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        li .block .ico-beta {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 16px;
          right: 16px;
        }
        .theme-light .ico-beta {
          background-position: -1340px -876px;
          width: 32px;
          height: 32px;
        }
        li .block .item-used {
          left: 0;
          top: 30px;
        }

        li .block .hover-add .tips {
          display: block;
          padding: 0 32px;
        }
        li .block .hover-add {
          background: rgba(255, 255, 255, .96);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1), 0 16px 24px 0 rgba(0, 0, 0, .1);
        }
        li .block:hover .hover-add {
          display: block;
          cursor: pointer;
        }
        li .block .hover-add {
          display: none;
          width: 180px;
          top: 0;
          left: 0;
          bottom: 0;

        }
        li .block .hover-add .img {
          background-image: url(../assets/img/hover-add-light.png);
        }
        li .block .hover-add .img {
          display: inline-block;
          width: 48px;
          height: 48px;
          position: absolute;
          top: calc((100% - 48px) / 2);
          left: 66px;
        }
      }
    }
  }
  //view-cont

}
