v\:group, v\:rect, v\:imagedata, v\:oval, v\:line, v\:polyline, v\:stroke, v\:textbox {
    display: inline-block;
    background: transparent
}

.GooFlow {


    font: 0.8em Microsoft Yahei;
    -moz-user-select: none;
    -webkit-user-select: none;

    color: #333
}

.GooFlow i {
}

.GooFlow_head {
  clear: both;
  height: 40px;
  border: 1px solid rgba(64,150,255,.2);
  background-color: rgba(64,150,255,.1);
  padding-top: 0;
  width: 87%;
  float: right;
  border-radius: 4px;
}
.el-p{
  background-color: rgba(64,150,255,.1);
  padding: 0 10px;
  height: 42px!important;
  line-height: 41px!important;
  font-size: 12px;
  color: #4096FF;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(64,150,255,.2);
  white-space: nowrap;
}
.GooFlow_head label {
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 18px;
    padding: 2px;
    width: 170px;
    text-align: center;
    background: #00B4E1;
    float: left;
    color: #fff;
    border-radius: 3px 0px 0px 0px;
    overflow: hidden;
    margin: -1px 4px 0px -1px;
}
.GooFlow_head a{
    /*display: none;*/
  color: #333!important;
}
.GooFlow_head span {
    float: left;
    height: 22px;
    width: 0px;
    overflow: hidden;
    border-left: #3892D3 1px solid;
    margin: 0px 3px;
}

.GooFlow_head_btn {
    display: block;
    border: 0px;
    height: 34px;
    width: 32px;

    padding: 1px;
    margin: 0px 3px;
    float: left;
    outline: none;
    cursor: pointer;
    padding-left: 4px;
    blr: expression(this.onFocus=this.blur());
    padding-top: 2px;
}

.GooFlow_head_btn i {
    display: inline-block;
    overflow: hidden;
    width: 18px;
    height: 18px;
    border: 0px;
}

.GooFlow_head_btn i:hover {
    border-radius: 2px;
    background: #cecece
}

.GooFlow_head_btn:hover i {
}

.GooFlow_tool {
    float: left;
    padding: 0px 3px;
    overflow: hidden;
    clear: left;

    width: 12%;
    background: #fff;
}

.GooFlow_tool_div {
    overflow: hidden;
    border-radius: 2px;
    width: 100%;
    padding: 2px
}

.GooFlow_tool span {
    height: 0px;
    overflow: hidden;
    border-top: #ccc 1px solid;
    margin: 3px 1px;
    clear: both;
    display: block;
}

.GooFlow_tool_btn {
    display: block;
    border: 0px;
font-size: 12px;
    width: 100%;
    cursor: pointer;
    padding: 7px;
    margin: 5px 1px;
    outline: none;
    blr: expression(this.onFocus=this.blur());
}

.GooFlow_tool_btn i {
    display: block;
    overflow: hidden;
    width: 18px;
    height: 18px;
    border: 0px;
    margin: 0 8px 0 4px;
}

.GooFlow_tool_btn:hover {
  display: block;
  border: 0px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  background-color: #f5f7fa;
  padding: 7px;
  margin: 5px 1px;
  outline: none;
  blr: expression(this.onFocus=this.blur());
}

.GooFlow_tool_btn:hover i {
  display: block;
  overflow: hidden;
  width: 18px;
  height: 18px;
  border: 0px;
  margin: 0 8px 0 4px;
}

.GooFlow_tool_btndown {
  display: block;
  border: 0px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
  background-color: #f0f7ff;
  padding: 7px;
  margin: 5px 1px;
  outline: none;
  blr: expression(this.onFocus=this.blur());

}

.GooFlow_tool_btndown i {
  display: block;
  overflow: hidden;
  width: 18px;
  height: 18px;
  border: 0px;
  margin: 0 8px 0 4px;
}

.GooFlow_work {
  float: left;
  margin: 0px 3px 3px 0px;
  position: relative;
  overflow: auto;
  height: 100%!important;
}

.GooFlow_work .GooFlow_work_inner {
    position: relative;
    overflow: hidden;
}

.GooFlow_work .GooFlow_work_group {
    cursor: default;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px
}

.GooFlow_work text {
    color: #fff
}

.GooFlow_area {
    cursor: default;
    position: absolute;
    overflow: hidden;
}

.GooFlow_area .lock {
    cursor: default;
}

.GooFlow_area .bg {
    cursor: move;
    filter: Alpha(Opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}

.GooFlow_work .lock .bg {
    cursor: default;
}

.GooFlow_area label {
    cursor: text;
    top: 1px;
    left: 1px;
    position: absolute;
    display: block;
    font-size: 12px;
    text-indent: 18px;
    height: 18px;
    line-height: 18px
}

.GooFlow_work .lock label {
    cursor: default;
}

.GooFlow_area i {
    display: block;
    height: 18px;
    widht: 18px;
    top: 0px;
    left: 0px;
    position: absolute;
    cursor: pointer
}

.GooFlow_work .area_red .bg {
    border: 1px solid red;
    background-color: #FF7865
}

.GooFlow_work .area_red label {
    color: red;
    background: url(../img/gooflow_bullet.png) no-repeat 1px 1px
}

.GooFlow_work .area_yellow .bg {
    border: 1px solid #CD925A;
    background-color: #FFD564
}

.GooFlow_work .area_yellow label {
    color: #FFBA1D;
    background: url(../img/gooflow_bullet.png) no-repeat 1px -16px
}

.GooFlow_work .area_blue .bg {
    border: 1px solid #347BB1;
    background-color: #549CDE
}

.GooFlow_work .area_blue label {
    color: #347BB1;
    background: url(../img/gooflow_bullet.png) no-repeat 1px -33px
}

.GooFlow_work .area_green .bg {
    border: 1px solid green;
    background-color: #84CA04
}

.GooFlow_work .area_green label {
    color: green;
    background: url(../img/gooflow_bullet.png) no-repeat 1px -50px
}

.GooFlow_work svg {
    display: block;
    position: absolute
}

.GooFlow_work v\:group {
    position: relative;
    display: block
}

.GooFlow_work v\:group v\:line {
    overflow: visible
}

.GooFlow_work v\:group v\:polyline {
    overflow: visible
}

.GooFlow_work v\:group div {
    cursor: text;
    position: absolute;
    overflow: visible;
    display: inline;
    float: left;
    white-space: nowrap
}

.GooFlow_work .draw {
    color: #ff3300
}

.GooFlow_item {
    position: absolute;
    /*background: #A1DCEB;*/
    border: #A1DCEB solid 1px;
    border-radius: 3px;
    /*background-color: #C1DCFC;*/
    /*box-shadow: 1px 1px 2px rgba(99, 99, 99, 2);*/
}

.GooFlow table {
    padding: 1px;
    border-radius: 2px
}

.GooFlow td {
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    cursor: default;
    word-wrap: break-word;
    word-break: break-all
}

.GooFlow .ico {
    width: 18px;
    cursor: move
}
.GooFlow_item.item_round .ico i {
    display: block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    float: left;
    font-size: 24px;
}
.GooFlow i {
    display: block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    float: left;
}

.GooFlow .item_round {

  border-radius: 6px;
    width: 30px;
    height: 30px;
    overflow: visible;
  border:#C1DCFC solid 3px!important;
}

.GooFlow .item_round table {
    border: 0px;
    padding: 2px;
    width: 22px;
    height: 22px
}

.GooFlow .item_round .span {
    display: block;
    text-align: center;
    position: absolute;
    top: 32px;
    left: 50%;
    width: 80px;
    overflow: visible;
    padding: 0px;
    cursor: default;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: -38px;
    font-weight: 900;
    color: #000;
    font-size: 14px;
}

.GooFlow .item_mix {
    background: #B6F700;
    border-color: #C2DB4E;
    color: #fff
}

.GooFlow div .rs_right {
    overflow: hidden;
    position: absolute;
    right: -1px;
    top: -1px;
    height: 100%;
    width: 6px;
    cursor: w-resize
}

.GooFlow div .rs_bottom {
    overflow: hidden;
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 100%;
    height: 6px;
    cursor: n-resize
}

.GooFlow div .rs_rb {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 9px;
    height: 9px;
    overflow: hidden;
    cursor: nw-resize;
    background: url(../img/gooflow_tip.png) no-repeat 0px -8px;
}

.GooFlow div .rs_close {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 7px;
    height: 7px;
    overflow: hidden;
    cursor: pointer;
    background: url(../img/gooflow_tip.png) no-repeat 0px 0px
}

.GooFlow .rs_ghost {
    position: absolute;
    display: none;
    overflow: hidden;
    border:#49BD21 solid 3px;
  border-radius: 6px;
    z-index: 10;
  width: 30px;
  height: 30px;

}
.GooFlow .rs_ghost .ico i{
  width: 28px;
  height: 28px;
  font-size: 20px;
}

.GooFlow .item_focus {
    border: #49BD21 solid 3px!important;

}

.GooFlow .item_mark {
    border: #FF0000 3px dashed;
}

.GooFlow .item_mark td {
    cursor: crosshair
}

.GooFlow textarea {
    position: absolute;
    border: #3892D3 1px solid;
    display: none!important;
    font: 1em Microsoft Yahei;
    overflow-y: visible;
    width: 100px;
    z-index: 10001
}

.GooFlow .GooFlow_line_oper {

    height: 15px;
    background-color: #D8E8FC;
    border: #7DA2CE 1px solid;
    position: absolute;
    filter: Alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;

}

.GooFlow .GooFlow_line_mp {
    width: 9px;
    height: 9px;
    filter: Alpha(Opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
    background: #333;
    cursor: crosshair
}

.GooFlow .GooFlow_line_move {
    filter: Alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    overflow: hidden;
    position: absolute;
    z-index: 9999;
}

.GooFlow .GooFlow_line_oper i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 2px;
    cursor: pointer
}

.GooFlow .b_l1 {
    background: url(../img/GooFlow_line_oper.png) no-repeat 1px 1px
}

.GooFlow .b_l2 {
    background: url(../img/GooFlow_line_oper.png) no-repeat 1px -14px
}

.GooFlow .b_l3 {
    background: url(../img/GooFlow_line_oper.png) no-repeat 1px -29px
}

.GooFlow .b_x {
    background: url(../img/GooFlow_line_oper.png) no-repeat 1px -44px;
    margin-left: 10px
}

.GooFlow .ico_cursor {
    background: url(../img/gooflow_icon2.png) no-repeat 2px -20px
}

.GooFlow .ico_start {

}

.GooFlow .ico_end {

}

.GooFlow .ico_fork {
    background: url(../img/gooflow_icon2.png) no-repeat -59px -20px
}

.GooFlow .ico_join {
    background: url(../img/gooflow_icon2.png) no-repeat -78px -20px
}

.GooFlow .ico_direct {
    background: url(../img/gooflow_icon2.png) no-repeat -137px -20px
}

.GooFlow .ico_group {
    background: url(../img/gooflow_icon2.png) no-repeat -96px -20px
}

.GooFlow .ico_recombination {
    background: url(../img/gooflow_icon2.png) no-repeat -116px -20px
}

.GooFlow .ico_node {
    background: url(../img/gooflow_icon2.png) no-repeat -19px -45px
}

.GooFlow .ico_task {
    background: url(../img/gooflow_icon2.png) no-repeat 2px -45px
}

.GooFlow .ico_chat {
    background: url(../img/gooflow_icon2.png) no-repeat -38px -45px
}

.GooFlow .ico_state {
    background: url(../img/gooflow_icon2.png) no-repeat -59px -45px
}

.GooFlow .ico_plug {
    background: url(../img/gooflow_icon2.png) no-repeat -135px -45px
}

.GooFlow .ico_menu {
    background: url(../img/gooflow_icon2.png) no-repeat 1px -65px
}

.GooFlow .ico_topo {
    background: url(../img/gooflow_icon2.png) no-repeat -117px -45px
}

.GooFlow .ico_sound {
    background: url(../img/gooflow_icon2.png) no-repeat -18px -65px
}

.GooFlow .ico_open {
    background: url(../img/gooflow_icon2.png) no-repeat -19px 1px
}

.GooFlow .ico_new {
    /*background: url(../img/gooflow_icon2.png) no-repeat 2px 1px*/
}

.GooFlow .ico_new:before{
    content: "\e61a";
}
.GooFlow .ico_reload {
    background: url(../img/gooflow_icon2.png) no-repeat -97px 1px
}



.GooFlow .ico_undo {
    background: url(../img/gooflow_icon2.png) no-repeat -58px 1px
}

.GooFlow .ico_redo {
    background: url(../img/gooflow_icon2.png) no-repeat -78px 1px
}

.GooFlow .ico_mutiselect {
    background: url(../img/gooflow_icon2.png) no-repeat -156px 1px
}

.GooFlow_head i{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 32px;
    font-size: 19px;
    text-align: center;
    line-height: 35px;
}


.GooFlow .ico_star:before{
    content: "\f04b";
    color: #00b4aa;
}
.GooFlow .ico_save:before{
    content: "\f0c7";
}
.GooFlow .ico_export:before{
    content: "\f064";
}
.GooFlow .ico_time:before{
    content:"\f1da";
}
.a-head{
    padding: 12px 3px;
    padding-top: 0;
    border-bottom: 1px solid #d9d9d9;
    margin-top: 12px;
    padding-left: 13px;
    color: #787a7d;
    font-size: 12px;
    margin-bottom: 0;
}
.a-head b{
    background-color: #1b94d3;
    padding: 2px 4px;
    margin-left: 10px;
    margin-right: 10px;
}
/*
#demo_node_1{
    background-color: #7FBD42!important;
    border: 1px solid #7FBD42!important;
}
.GooFlow_item i{
    color: #fff!important;
}
#demo_node_2{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_3{
    background-color: #DC836E!important;
    border: 1px solid #DC836E!important;
}
#demo_node_4{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_5{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_6{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_7{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_8{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_9{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_10{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_11{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_12{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_13{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}
#demo_node_14{
    background-color: #6F5499!important;
    border: 1px solid #6F5499!important;
}#demo_node_15{
     background-color: #6F5499!important;
     border: 1px solid #6F5499!important;
 }
*/


