div.table-grid div.landing-page table tr td, div.table-grid div.page-view table tr td, div.table-list table.list tr.fade td.highlight-tip {
    cursor: pointer
}

.main-content {
    border-left: none;
    border-right: none
}

.content-header {
    padding-top: 6px;
    padding-bottom: 6px
}

div.table-list {
    padding-top: 6px;
    padding-right: 1px;
    border: 1px solid #dedede;
    border-bottom: 0
}

.table-list div.loading {
    height: 150px;
    line-height: 150px
}

.index-site {
    background-color: #fff
}

div.table-list div.index-table-list-tip {
    background-color: #FFFFC6;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    width: 145px;
    z-index: 100;
    border: 1px solid #9D9A89;
    padding: 10px 2px;
    word-wrap: break-word;
    text-align: center
}

div.table-list table.list {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px
}

div.table-list table.list th {
    height: 16px;
    line-height: 16px;
    padding: 13px 20px 0 10px;
    text-align: right;
    color: #5b5d61;
    white-space: nowrap;
    font-weight: 400
}

div.table-list table.list th.nbg {
    background: 0 0;
    color: #000
}

div.table-list table.list tr td:first-child {
    border-left: 0
}

div.table-list table.list tr td {
    border-left: 1px solid #f0f0f0;
    padding: 6px 20px 6px 5px;
    height: 17px;
    line-height: 17px;
    white-space: nowrap;
    text-align: right
}

div.table-list table.list tr.no-data td {
    border: none;
    text-align: left
}

div.table-list table.list tr.title {
    border-bottom: none;
    height: 50px;
    line-height: 50px
}

div.table-list table.list .empty-tr0 {
    width: 1px;
    padding: 6px 19px 6px 0;
    border-left: 0
}

div.table-list table.list tr.empty-tr1 {
    height: 20px;
    border-bottom: 1px solid #f0f0f0
}

div.table-list table.list tr.empty-tr2 {
    height: 20px;
    border-top: 1px solid #f0f0f0
}

div.table-list table.list tr.empty-tr2 td {
    padding-top: 1px;
    padding-bottom: 1px
}

div.table-list table.list tr.empty-tr3 td {
    padding-top: 1px;
    padding-bottom: 2px
}

.overview-gap {
    clear: both;
    background-color: #ececec;
    height: 18px
}

div.table-list table.list tr.highlight td {
    color: #111314;
    font-size: 16px;
    font-weight: bolder
}

div.table-list table.list tr.highlight td.normal {
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
    text-align: left
}

div.table-list table.list tr td.normal {
    padding-left: 20px;
    width: 85px;
    text-align: left;
    color: #323437
}

div.table-list table.list tr.fade {
    height: 18px;
    line-height: 18px;
    background-color: #f9f9f9
}

div.table-list table.list tr.fade th {
    color: #A8A7A7
}

div.table-list table.list tr.fade td {
    color: #787a7d;
    font-size: 12px;
    border-bottom: none
}

.arrow {
    display: inline-block;
    width: 9px;
    height: 10px;
    float: left
}

.arrow-up {
    background-repeat: no-repeat;
    background-position: 97% 8px;

}

.arrow-down {
    background-repeat: no-repeat;
    background-position: 97% 9px;

}

div.overview-flash-indicator-container {
    height: 17px;
    line-height: 17px;
    color: #666;
    margin: 10px 0 0 20px
}

div.btw, div.fold {
    height: 30px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede
}

div.visitor-attr div.title div.r, table.date-compare-container td {
    line-height: 22px
}

div.overview-flash-indicator-container label {
    float: left;
    margin-right: 10px
}

div.overview-flash-indicator-container div.option-select-bar label {
    display: inline-block
}

div.overview-flash-indicator-container span.flash-trend-tip {
    background-repeat: no-repeat;
    background-position: left 5px;

    padding-left: 15px;
    margin-right: 30px;
    float: right
}

div.fold {
    margin: 0
}

table.date-compare-container {
    width: 100%
}

table.date-compare-container td div.check-option-container {
    color: #666;
    margin: 0 auto;
    text-align: center;
    line-height: 22px
}

table.date-compare-container td div.check-option-container label {
    margin-right: 8px
}

.date-compare-container .detail-report-btn {
    color: #666
}

div.visitor-attr {
    background-color: #ececec
}

div.visitor-attr div.title div.l {
    color: #666;
    font-weight: 700;
    font-size: 20px
}

div.visitor-attr div.title div.r a {
    color: #666
}

div.visitor-attr div.title div.r a.detail-report-btn {
    background-repeat: no-repeat;
    background-position: 0 1px;

    display: inline-block;
    text-align: center;
    width: 89px
}

div.visitor-attr div.table-title {
    line-height: 50px;
    height: 50px;
    padding-left: 28px
}

div.visitor-attr div.table-title span.text {
    color: #999
}

div.visitor-attr table.sex-list {
    margin-top: 6px;
    border-collapse: collapse;
    border-bottom: 1px solid #E6E6E6;
    font-size: 12px;
    width: 100%;
    height: 181px
}

div.visitor-attr table.sex-list td {
    width: 50%
}

div.visitor-attr table.sex-list td span {
    display: inline-block
}

div.visitor-attr table.sex-list td span.ratio {
    font-size: 28px;
    line-height: 28px;
    color: #636464
}

div.visitor-attr table.sex-list td span.male {
    padding-left: 8px;
    width: 21px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: 0 0;

}

div.visitor-attr table.sex-list td span.male-shadow {
    background-repeat: no-repeat;
    background-position: 0 0;

}

div.visitor-attr table.sex-list td span.female {
    padding-left: 8px;
    width: 27px;
    height: 49px;
    background-repeat: no-repeat;
    background-position: 0 0;

}

div.visitor-attr table.sex-list td span.female-shadow {
    background-repeat: no-repeat;
    background-position: 0 0;

}

div.visitor-attr table.sex-list td.top {
    height: 35px
}

div.visitor-attr table.sex-list td.al {
    text-align: left;
    padding-left: 20px
}

div.visitor-attr table.sex-list td.ar {
    text-align: right;
    padding-right: 20px
}

div.visitor-attr div.visitor-attr-content {
    background-color: #fafafa;
    margin-top: 6px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6
}

div.visitor-attr div.visitor-attr-content div.age {
    float: left;
    width: 49.9%
}

div.visitor-attr div.visitor-attr-content div.age table.age-list {
    border-collapse: collapse;
    height: 330px;
    font-size: 12px;
    width: 100%
}

div.visitor-attr div.visitor-attr-content div.age table.age-list td {
    color: #767676;
    padding-left: 5px
}

div.visitor-attr div.visitor-attr-content div.age table.age-list td div {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    float: left
}

div.visitor-attr div.visitor-attr-content div.age table.age-list td div.age-back {
    background-color: #48BEF4
}

div.visitor-attr div.visitor-attr-content div.age table.age-list td div.age-ratio {
    padding-left: 5px
}

div.visitor-attr div.visitor-attr-content div.age table.age-list td.age-text {
    width: 60px;
    padding-left: 28px;
    color: #333
}

div.visitor-attr div.visitor-attr-content div.area {
    float: right;
    width: 49.9%
}

div.visitor-attr div.visitor-attr-content div.area table.area-list {
    border-collapse: collapse;
    height: 330px;
    font-size: 12px;
    width: 100%
}

div.table-grid div.left {
    float: left;
    width: 49%
}

div.table-grid div.right {
    float: right;
    width: 49%
}

div.table-grid div.table-grid-item {
    margin-top: 1px;
    background-color: #fff;
    height: 392px
}

div.table-grid div.table-grid-item div.title div.l {
    color: #323437;
    font-weight: 700;
    font-size: 14px
}

div.table-grid div.table-grid-item div.title div.r a {
    color: #666
}

div.table-grid div.table-grid-item div.title div.r a.detail-report-btn {
    background-repeat: no-repeat;

    background-position: left 0;
    display: inline-block;
    text-align: center;
    width: 18px;
    height: 18px
}

div.table-grid div.table-grid-item div.title div.r a.detail-report-btn:hover {

    background-position: left -18px
}

div.table-grid div.table-grid-item table {
    width: 100%;
    table-layout: fixed
}

div.table-grid div.table-grid-item table tr.th td {
    color: #5b5d61;
    border-bottom: 1px solid #ddd
}

div.table-grid div.table-grid-item table tr.th:hover {
    background-color: #fff
}

div.table-grid div.table-grid-item table tr {
    height: 16px;
    line-height: 16px
}

div.table-grid-item table thead tr td {
    color: #787a7d
}

.table-grid-item tr td, .table-grid-item tr th, div.table-grid-item table tr td {
    margin: 0;
    overflow: hidden;
    color: #323437;
    border-top: 1px solid #fff
}

div.table-grid div.table-grid-item table tr td.trend {
    padding-right: 12px
}

div.table-grid div.table-grid-item table tr:hover {
    background-color: #e8effb
}

div.table-grid div.table-grid-item table tr td.ar {
    text-align: right
}

div.table-grid div.table-grid-item table thead tr td.al {
    padding-bottom: 10px
}

div.table-grid div.table-grid-item table tr td.al {
    text-align: left;
    white-space: nowrap
}

div.table-grid div.table-grid-item table tr td.ratio {
    text-align: left;
    padding-left: 20px
}

.detail-report-btn {
    background-repeat: no-repeat;
    background-position: 0 1px;

    display: inline-block;
    text-align: center;
    width: 89px
}

#custom-date-select, .toggleable-hidden {
    display: none
}

.table-grid-item table {
    width: 100%
}

.table-grid-item tr, div.table-grid div.table-grid-item table thead tr {
    height: 20px;
    line-height: 20px
}

.table-grid-item tr td, .table-grid-item tr th {
    background-color: #fff;
    padding: 0 0 10px
}

.table-grid-item tr th {
    color: #999;
    background-color: #EAEAEA;
    width: auto
}

.table-grid-item tr .ar {
    text-align: right
}

.table-grid-item tr .al {
    text-align: left;
    white-space: nowrap
}

.table-grid-item tr .ratio {
    text-align: left;
    padding-left: 20px;
    width: 90px
}

.table-grid-item .help {
    height: 18px
}

#recommend-fold {
    margin-top: 20px
}

.fc-user-list {
    border: 1px solid #ccc;
    color: gray;
    float: right;
    margin-right: 40px;
    width: 200px;
    position: relative
}

.fc-user-list .text {
    float: left;
    width: 178px
}

.fc-user-list .options {
    left: 0;
    max-height: 300px;
    overflow-y: auto;
    top: 20px;
    width: 198px
}

div.title-bar span.normal {
    font-size: 12px;
    color: #6191D3;
    font-weight: 400
}

.trade-dialog {
    border: 2px solid #4abff4;
    background-color: #eff9fe
}

.trade-dialog .dialog-title {
    background: 0 0;
    height: 1px
}

.trade-dialog .dialog-content div.trade-setting-container {
    padding: 0 20px
}

.trade-dialog .dialog-content div.trade-setting-container div.trade-select-container {
    margin: 25px 0
}

.trade-dialog .dialog-content div.trade-setting-container div.trade-select-container a.button {
    margin-left: 5px
}

.trade-dialog .dialog-content div.trade-setting-container div.trade-setting-footer {
    color: #999;
    line-height: 1.5
}

.trade-dialog .dialog-content .trade-setting-tip {
    display: inline-block;
    padding-left: 50px;
    line-height: 35px;
    font-weight: bolder;
    background-repeat: no-repeat;
    background-position: 0 0
}

.drop-down-header {
    margin-right: 10px
}

.chart-china-area {
    width: 365px;
    height: 330px;
    text-align: left
}

.chart-tip-container {
    position: absolute;
    top: 50%;
    height: 3em;
    margin-top: -1.5em
}

.chart-container .loading {
    height: 330px;
    line-height: 330px
}

.flash-container {
    position: relative
}

#notRecommendInfo, .not-recommend {
    padding: 40px 0;
    text-align: center;
    cursor: default
}

#notRecommendInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 95px 0;
    background: #fff
}

#notRecommendInfo p, .not-recommend p {
    font-size: 14px;
    line-height: 1.5;
    color: #000
}

#notRecommendInfo .tips-paragraph, .not-recommend .tips-paragraph {
    color: #333;
    font-size: 12px
}

.recommend-link {
    color: red;
    text-decoration: underline
}

.overview-card-title-container {
    padding: 14px 15px 0
}

.overview-card-title {
    font-size: 14px;
    color: #323437;
    font-weight: 700
}

.control-bar-wrapper .control-bar .label {
    display: none
}

.control-bar-wrapper {

    padding: 0
}

.control-bar-wrapper .control-bar .date-select-bar {
    border-width: 0
}

.control-bar-wrapper .control-bar .date-select-bar a {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-right: 1px solid #f2f4f4
}

.control-bar-wrapper .control-bar .date-select-bar .cur {
    left: 0;
    top: 0;
    bottom: 0;
    padding: 0 20px;
    height: 30px;
    margin-top: 0
}

.table-grid .table-grid-item {
    border: 1px solid #e1e2e2;
    border-radius: 2px;
    margin-bottom: 18px
}

.table-grid .table-grid-item .title {
    padding: 20px 20px 10px
}

.table-grid .table-grid-item .table-data {
    padding: 0 20px
}

.table-grid .table-grid-item .table-layout-01 thead .td {
    color: #787a7d
}

.table-grid .table-grid-item .table-layout-01 thead .th {
    height: 39px;
    line-height: 39px;
    background-color: #fbfbfb
}

.table-grid .table-grid-item .table-layout-01 thead .th input[type=checkbox] {
    vertical-align: middle
}

.table-grid .table-grid-item .table-layout-01 tbody .margin-tr {
    height: 14px
}

.table-grid .table-grid-item .table-layout-01 tbody .margin-tr-bottom {
    height: 9px
}

.filter .group li {
    padding: 0 9px
}

.line-indicators-row {
    padding-left: 20px
}

.overview-flash-indicator-compare {
    margin-right: 20px;
    margin-top: 9px
}

.overview-flash-indicator-compare span.label {
    margin-right: 5px
}

.overview-flash-indicator-compare input {
    margin-right: 8px
}

.overview-flash-indicator-compare label.first {
    margin-right: 20px
}

.pro-type-select.filter .group li.last {
    max-width: 50px;
    padding-right: 27px;
    background-position: 58px center;
    background-repeat: no-repeat
}

.pro-type-select.filter .group li.last .display-label {
    display: inline-block;
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.pro-type-select.filter .group li.last .cst-dp-header {
    max-width: 86px;
    width: auto;
    overflow: hidden
}

.pro-type-select.filter .group li.last .cst-dp-header span.cst-dp-arrow {
    background: 0 0
}

.pro-type-select.filter .group li.last .btn-arrow {
    position: absolute;
    right: 0;
    top: 0;
    border-left: 0
}

.cst-02 .cst-dp-header {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 60px;
    padding-left: 0;
    opacity: 0;
    filter: alpha(opacity=0)
}

.pro-type-select.filter .group li.last.cur .btn-arrow {
    background-repeat: no-repeat;
    background-position: 8px 9px;
    background-color: #4da7fd;

}

.cst-02 .cst-dp-body {
    width: 158px;
    max-height: 300px;
    overflow-x: hidden
}

.cst-02 .cst-dp-body li {
    width: 138px;
    height: 26px;
    line-height: 26px;
    padding: 0 8px 0 12px;
    border: none
}

.visit-type-summary {
    margin-top: 18px;
    margin-bottom: 33px
}

.visit-type-icon {
    width: 30%;
    height: 60px;
    border-right: 1px solid #ededef;
    background-repeat: no-repeat;
    background-position: 50% 0;

}

.table-grid-item .visit-type-new, .table-grid-item .visit-type-old {
    width: 33%;
    height: 60px;
    font-size: 30px;
    padding-left: 20px;
    border-right: 1px solid #ededef
}

.table-grid-item .visit-type-new .visit-type-summary-data, .table-grid-item .visit-type-old .visit-type-summary-data {
    font-family: Arial
}

.table-grid-item .visit-type-new .ratil-unit, .table-grid-item .visit-type-old .ratil-unit {
    font-size: 18px
}

.table-grid-item .visit-type-new {
    color: #48cb6d
}

.table-grid-item .visit-type-old {
    color: #51a8f9;
    border-right: none
}

.visit-type-summary-title {
    font-size: 16px;
    color: #5d5d61;
    margin-bottom: 16px
}

div.table-grid-item .visit-type-detail table tr td {
    border: 1px solid #ededef;
    height: 39px;
    line-height: 39px;
    padding-bottom: 0;
    color: #414448
}

div.table-grid-item .visit-type-detail table tr td.visit-type-detail-name {
    width: 30%;
    text-align: center;
    color: #787a7d
}

div.table-grid-item .visit-type-detail table tr td.visit-type-detail-new, div.table-grid-item .visit-type-detail table tr td.visit-type-detail-old {
    width: 33%;
    padding-left: 20px
}

#china-map-container {
    position: relative
}

#china-map {
    height: 320px;
    width: 450px;
    margin: 0 auto
}

.map-legend {
    position: absolute;
    bottom: 45px;
    height: 20px;
    line-height: 20px;
    left: 20px;
    color: #747d85;
    margin-left: 10px
}

.map-legend em {
    display: inline-block;
    margin-left: 3px;
    width: 150px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;

}

input[type=checkbox] + label {
    vertical-align: baseline
}

td.empty-td {
    height: 300px
}

#pro-url-ratio-info .fold {
    border-left: 0;
    border-right: 0;
    border-bottom: 0
}

.basic-purchase-version-tip .dialog-content {
    padding: 13px 30px 30px
}

.basic-purchase-version-tip .title {
    line-height: 23px
}

.basic-purchase-version-tip .basic-purchase-version {
    width: 100%;
    background-color: #fff
}

.basic-purchase-version-tip .basic-purchase-version .strip-row {
    background-color: #fbfbfb
}

.basic-purchase-version-tip .basic-purchase-version .title-row td {
    height: 38px;
    line-height: 38px
}

.basic-purchase-version-tip .basic-purchase-version .name {
    text-indent: 19px
}

.basic-purchase-version-tip .basic-purchase-version td {
    height: 29px;
    line-height: 29px;
    border: 1px solid #f4f4f4;
    text-indent: 11px
}

.basic-purchase-version-tip .basic-purchase-version .over-warning {
    color: #f15654
}