body {
    background-color: #ececec;
}

a:hover {
    text-decoration: none !important;
}

.navbar-brand img {
    width: 30px;
    float: left;
    margin-top: 9px;
}

.navbar-brand span {
    color: #eaf6fc;
    line-height: 50px;
    font-weight: 900;
    margin-left: 10px;
}

.navbar {
    min-height: 60px;
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-image: -webkit-gradient(linear,left top,right top,from(#1278f6),to(#00b4aa));
    background-image: -webkit-linear-gradient(left,#1278f6,#00b4aa);
    background-image: -moz-linear-gradient(left,#1278f6,#00b4aa);
    background-image: linear-gradient(to right,#1278f6,#00b4aa);
    border: none;
}

li {
    list-style: none;
}

.navbar-nav > li > a {
    padding: 19px 30px;
    color: #fff !important;
    font-size: 14px;
}

.navbar-nav > li > .fa {
    font-size: 25px;
    color: #eaf6fc !important;
}

.activeCur {
    border-bottom: 3px solid #f4b47d !important;
}

.navbar-brand {
    padding: 5px 15px;
}

.main {
    position: relative;
    margin-left: 0!important;
    margin-top: 61px;
}

.bar {
    position: absolute;
    height: 100%;
    min-height: calc(100vh - 70px);
}

#barRole, .bar {
    background-color: #32404f;
}

.bar, .bar a {
    width: 120px;
}

#barRole, .bar {
    background-color: #fbfbfb;
    padding: 0;
}

.bar .active {
    border-left: 3px solid #50c2a1 !important;
    background-color: #223444;
}

.bar li {
    text-align: left;
}

li {
    list-style: none;
}

#barRole .active a {
    border-left: none !important;
}

.bar a {

}

.bar, .bar a {
    width: 180px;

}

.bar {
    overflow: auto;
    border-right: 1px solid #e1e2e2;
}

.advanced-filter, .arrowsSort, .bar a, .btnBack, .con1 ul > li:last-child > button, .my-layer .layui-layer-btn a, .nodec, .notTitle, .po {
    cursor: pointer;
}

a:hover, a:focus {
    text-decoration: none;
}

/*左边布局*/
.content-left {
    min-width: 1040px;
    margin-left: 242px;
    padding: 20px;
    padding-top: 10px;
}

.pr {
    position: relative;
}

.left-box {
    position: absolute;
    left: 0;

}

.fl {
    float: left;
}

.left-box .box {
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-top: 20px;
}

.right-box {
    display: block;
    width: 344px;
    height: 835px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
}

.fr {
    float: right;
}

.right-box .header {
    width: 100%;
    height: 30px;
    padding-top: 13px;
}

.right-box .header, .tab {
    border-bottom: 1px solid #dde2ed;
}

.right-box .header > p {
    border-left: 3px solid #54b095;
    height: 15px;
    line-height: 15px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 700;
}

.ztree li span {
    color: #333;
}

.ztree li a.curSelectedNode {
    padding-top: 0px;
    background-color: #e5e5e5;
    color: black;
    height: 21px;
    opacity: 0.8;
}

.ztree li a.curSelectedNode span {
    color: #000;
}

.statistical {
    margin-bottom: 10px;
}

.left-box .statistical ul {
    display: flex;
    justify-content: space-around;
    background: #fff;
}

.left-box .statistical li {
    display: inline-block;
    min-width: 60px;
    padding: 9px 25px 4px;
}

.left-box .statistical li p {
    display: block;
    text-align: center;
    color: #55677b;
    font-size: 12px;
    line-height: 28px;
}

.left-box .statistical li p span {
    color: #2b3a48;
    font-size: 20px;
}

.left-box .statistical li p {
    display: block;
    text-align: center;
    color: #55677b;
    font-size: 12px;
    line-height: 28px;
}

.left-box .header {
    width: 100%;

    border-bottom: 1px solid #dde2ed;
    padding-top: 13px;
    position: relative;
}

.left-box .header > p {
    border-left: 3px solid #54b095;
    height: 15px;
    line-height: 15px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 700;
}

.left-box .header .input-box {
    position: absolute;
    right: 0;
    top: 10px;
}

/*canvas*/

.myForm {
    display: block;

    padding: 0px;
    line-height: 1.5;

    font: 12px Arial, Helvetica, sans-serif;


    overflow: hidden;
    background: #fff;
}

.myForm .form_title {
    background: #fff;
    border-bottom: 1px solid #d9d9d9;
    color: #333;
    margin-bottom: 2px;
    padding: 9px 0;
    font-size: 16px;
}
.myForm .form_title i{
    background-color: #085780;
    padding: 4px 4px;
    margin-left: 10px;
    margin-right: 10px;

}
.myForm .form_content {
    padding: 4px;
    background: #fff;
    overflow: hidden;
    padding-top: 11px;
}

.myForm .form_content table {
    border: 0px
}

.myForm .form_content table td {
    border: 0px
}

.myForm .form_content table .th {
    text-align: right;
    font-weight: bold
}

.myForm .form_btn_div {
    text-align: center;

    padding: 4px;
    border-radius: 0px 0px 3px 3px;
}

#propertyForm {

}
.form_content input{
    height: 25px;
    margin-bottom: 10px;
}
.form_content .th{
    font-size: 14px
}
#demo{
    width: 99%!important;
}
.GooFlow{
    background-color: transparent;
    margin-bottom: 30px;
}
/*footer{*/
    /*background-color: #000;*/
    /*height: 200px;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/
.ztree li ul {
    margin: 0;
    padding: 0 0 0 18px;
    overflow: visible;
    width: 100%;
    overflow: visible!important;
}
 .nav-wrapper .title {
    padding-left: 15px;
}

 .title {
    border-bottom: 1px solid #e1e3e4;
    background-color: #f2f3f4;
}

 .nav-wrapper .title .nav-text {
    color: #787a7d;
}
.l {
    float: left;
}
 .title, .aside a {
    height: 40px;
    line-height: 40px;
}
 .top-nav .fa{
     font-size: 17px;
 }
.datagrid-header, .datagrid-td-rownumber {
    background-color: #fff!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9,endColorstr=#efefef,GradientType=0);
}
.table-scrollable .search-contains{
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    width: 240px;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    background-color: #fff;
    margin-bottom: 5px;
    border: 1px solid #e1e3e4;
}
.table-scrollable .search-contains input{
    margin: 0 6px 0 10px;
    padding-bottom: 3px;
    width: 173px;
    border: 0;
    outline-style: none;
    color: #323437;
    font-weight: 400;
}

.table-scrollable .search-contains .search-btn{
    float: right;
    display: inline-block;
    zoom: 1;
    width: 14px;
    cursor: pointer;
}
.gray{
    color: #A9ABAE;
}
.border-title{
    margin-top: 3px;
    border: 1px solid #e1e3e4;
}
.datagrid-body{
    overflow-x: hidden!important;
}
.portlet-title-h5{
    float: left;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    margin-left: 20px;
}
.aside .fa{
    width: 12px;
    margin-left: 17px;
    font-size: 17px;
}
.site-list{
    background-color: #fff;
}
.simple-nav .fa{
    font-size: 22px;
}

.table-grid .table-grid-item .title {
    padding: 20px 20px 10px;
    height: auto;
    background: #fff;
    line-height: 10px;
}
.layui-layer-input-ps{
    display: block;
    width: 230px;
    height: 36px;
    margin: 0 auto;
    line-height: 30px;
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    color: #333;
    margin-top: 40px;
}
.visit-page-add input{
    width: 100px;
    margin-right: 20px;
}
/*loading*/
.loader-inner{
    position: relative;
    z-index: 999999;
    top: 50%;
    margin-top: -100px;
}
@-webkit-keyframes line-scale-pulse-out {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1); }

    50% {
        -webkit-transform: scaley(0.4);
        transform: scaley(0.4); }

    100% {
        -webkit-transform: scaley(1);
        transform: scaley(1); } }

@keyframes line-scale-pulse-out {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1); }

    50% {
        -webkit-transform: scaley(0.4);
        transform: scaley(0.4); }

    100% {
        -webkit-transform: scaley(1);
        transform: scaley(1); } }

.line-scale-pulse-out > div {
    background-color: #409eff;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(.85, .25, .37, .85);
    animation: line-scale-pulse-out 0.9s 0s infinite cubic-bezier(.85, .25, .37, .85); }
.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
    -webkit-animation-delay: 0.2s !important;
    animation-delay: 0.2s !important; }
.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
    -webkit-animation-delay: 0.4s !important;
    animation-delay: 0.4s !important; }

@-webkit-keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1); }

    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3); }

    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1); } }

@keyframes line-scale-pulse-out-rapid {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1); }

    80% {
        -webkit-transform: scaley(0.3);
        transform: scaley(0.3); }

    90% {
        -webkit-transform: scaley(1);
        transform: scaley(1); } }

.line-scale-pulse-out-rapid > div {
    background-color: #fff;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78);
    animation: line-scale-pulse-out-rapid 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78); }
.line-scale-pulse-out-rapid > div:nth-child(2), .line-scale-pulse-out-rapid > div:nth-child(4) {
    -webkit-animation-delay: 0.25s !important;
    animation-delay: 0.25s !important; }
.line-scale-pulse-out-rapid > div:nth-child(1), .line-scale-pulse-out-rapid > div:nth-child(5) {
    -webkit-animation-delay: 0.5s !important;
    animation-delay: 0.5s !important; }
.red{
    color: red;
}
.signalPanel {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100%;
    background: #ececec;
    display: none;
    overflow: auto;
    padding-bottom: 20px;
}
